@use "../../fonts.scss"as *;

.main-title {
  font-family: $basic-font;
  font-size: max(2rem, max(3.5vw, 3.5vh));
  display: flex;
  align-items: center;
  border-bottom: 1px black solid;

  & img {
    width: max(3vw, max(3vh, 50px));
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid black;
    margin-inline: 15px;
  }
}