@use "../fonts.scss" as *;

.homepage {

  padding: $div-container-padding;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;

  font-family: $title-font;
  font-size: var(--font-size);

  .title {
    
    position: relative;
    margin-bottom: max(5vh, 40px);
    margin-top: 5vh;
    isolation: isolate;

    h1 {
      font-size: var(--title-size);
      text-align: center;
      text-transform: uppercase;
      animation: appear-title 5s ease forwards;
    }
    img {
      position: absolute;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translateY(200%) scale(2);
      transform-origin: center;
      filter: saturate(0%);
      z-index: -99;
      opacity: 0;
      animation: appear-image 5s ease forwards;
      animation-delay: 2s;
    }
  }

  .introduction {
    width: min(80%, 800px);
    margin-inline: auto;
    margin-block: 100px;
  }

  .slideShowCivilisations {
    display: flex;
    flex-direction: row;
    width: 95%;
    aspect-ratio: 2/1;
    border-radius: 10px;
    margin-inline: auto;
    margin-block: 50px;

    & > * {
      position: relative;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      transform: skewX(-7deg);
      border: white 2px solid;
      background-color: var(--bg-color);
      overflow: hidden;
      cursor: pointer;
      transition: .3s ease;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          z-index: 4 - $i;
        }
      }

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;     
      }

      & > p {
        position: absolute;
        color: white;
        font-size: calc($font-xl + .2rem);
        font-weight: 800;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        z-index: 100;
        flex-grow: 2;
      }
    }
  }
  .civilisationsShowcase {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    scroll-margin-block-start: 150px;
    margin-block: 20px;
    justify-content: space-evenly;
    gap: 30px;

    .civilisationLink {
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      opacity: 0;
      animation: civ-appear .3s ease forwards;
      animation-delay: calc(var(--delay)*500ms);

      img {
        border-radius: 50%;
        filter: brightness(40%);
        width: max(130px, 12vw);
        aspect-ratio: 1/1;
        transition: .3s ease;
        border: 2px white solid;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        transition: .3s ease;
      }

      &:hover {
        img {
          filter: brightness(100%);
        }
        p {
          top: -12%;
        }
      }
    }
  }

  .images {
    --positionIndex: 0;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 1920/1080;
    margin-inline: auto;
    overflow: hidden;
    border: 3px solid var(--text-color);
    border-radius: 30px;
    position: relative;
    color: $text-color;

    .arrowLeft, .arrowRight {
      width: max(50px, 10%);
      aspect-ratio: 1/1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.537);
      border-radius: 50%;
      font-size: max(20px, 3vw);
      display: grid;
      place-items: center;
      cursor: pointer;
      z-index: 10;
      
      &:hover {
        color: black;
        background-color: $text-color;
      }
    }

    .arrowLeft {
      left: 15px;
    }

    .arrowRight {
      right: 15px;
    }

    .indicator {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 15;

      & > .indicatorSymbol {
        width: max(3.5vw, 35px);
        height: max(0.7vw, 7px);
        background-color: rgba(255, 255, 255, 0.379);
        border: black 1px solid;
        transition: .5s ease border-radius;
      
        &.activeIndicator {
          background-color: white;
          height: max(1.15vw, 17.5px);
          // border-radius: 15px;
        }
      }
    }

    .slides {
      position: relative;
      display: flex;
      transform: translateX(calc(-100% * var(--positionIndex)));
    }

    & img {
      flex-shrink: 0;
      width: 100%;
      position: relative;
      opacity: 0;
      transition: .5s ease;  
    }
    & img.active {
      opacity: 1;
    }
  }
  & > h2 {
    margin-block: 15px;
  }
}

@keyframes appear-title {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-image {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(2) translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(2) translateX(-25%);
  }
}

@keyframes civ-appear {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media screen and (max-width: #{map-get($breakpoints, "s")}) {
  .slideShowCivilisations {
    flex-direction: column !important;
    height: 600px !important;
    
    &>div {
      transform: none !important;
    }
  }
}