@use "../fonts.scss" as *;

.homepage {
  padding: $div-container-padding;
  width: 100%;
  height: 100%;
  background-color: black;
  color: $text-color;
  overflow: hidden;

  font-family: $title-font;
  font-size: $actual-text-size;

  .title {
    
    position: relative;
    margin-bottom: max(5vh, 40px);
    isolation: isolate;

    h1 {
      font-size: $actual-title-size;
      text-align: center;
      text-transform: uppercase;
      animation: appear-title 5s ease forwards;
    }
    img {
      position: absolute;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translateY(200%) scale(2);
      transform-origin: center;
      filter: saturate(0%);
      z-index: -99;
      opacity: 0;
      animation: appear-image 5s ease forwards;
      animation-delay: 2s;
    }
  }

  .introduction {
    & > *:not(h2) {
      text-indent: 10px;
    }
    & > ul {
      text-indent: 40px;
      list-style-type:disc;
      list-style-position:inside;
    }
  }

  .slideShowCivilisations {
    display: flex;
    flex-direction: row;
    width: 95%;
    aspect-ratio: 2/1;
    border-radius: 10px;
    margin-inline: auto;

    & > * {
      position: relative;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      transform: skewX(-7deg);
      border: white 2px solid;
      background-color: $bg-color;
      overflow: hidden;
      cursor: pointer;
      transition: .3s ease;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          z-index: 4 - $i;
        }
      }

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;     
      }

      & > p {
        position: absolute;
        color: white;
        font-size: calc($font-xl + .2rem);
        font-weight: 800;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        z-index: 100;
        flex-grow: 2;
      }
    }
  }
  .civilisationsShowcase {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    justify-content: space-evenly;
    gap: 30px;

    .civilisationLink {
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      opacity: 0;
      animation: civ-appear .3s ease forwards;
      animation-delay: calc(var(--delay)*500ms);

      img {
        border-radius: 50%;
        filter: brightness(40%);
        width: max(130px, 12vw);
        aspect-ratio: 1/1;
        transition: .3s ease;
        border: 2px white solid;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        transition: .3s ease;
      }

      &:hover {
        img {
          filter: brightness(100%);
        }
        p {
          top: -12%;
        }
      }
    }
  }
}

@keyframes appear-title {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-image {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(2) translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(2) translateX(-25%);
  }
}

@keyframes civ-appear {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}