html {
  height: 100%;
}

body {
  height: clamp(100%, 100%, 100%);
  background-image: url("../public/img/background.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$inside-body-width: 90%;

#root {
  width: 70%;
  margin-inline: auto;
  
  & > * {
    position: relative;
  }

  header {
    position: static;
  }

  main { 
    width: $inside-body-width;
    margin: 0 auto;
    background-color: #fef0c3;
    margin-top: max(50px, 15vh);
    filter: drop-shadow(0 0 5px black);
    
  }
  
  footer {
    width: $inside-body-width;
    margin: 0 auto;
  }
}
