@use "./fonts.scss" as *;

html {
  height: 100%;
}

body {
  height: clamp(100%, 100%, 100%);
  background-image: url("../public/img/background.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  width: var(--root-width);
  margin-inline: auto;
  
  & > * {
    position: relative;
  }

  header {
    position: static;
  }

  main { 
    width: var(--inside-main-width);
    margin: 0 auto;
    background-color: #fef0c3;
    margin-top: max(50px, 15vh);
    filter: drop-shadow(0 0 5px black);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  
  footer {
    width: var(--inside-main-width);
    margin: 0 auto;
    filter: drop-shadow(0 0 5px black);
  }
}